.button{
	border: 2px solid green;
	border-radius: 5px;
	background: #80ff80;
	font-size: 20px;
	cursor: default;
	user-select: none;
}
#team{
	font-size: 40px;
}
h5{
	color: #bbbbbb;
}
*{
	text-align:center;
}
